<footer>
  <div class="footer">
    <div class="footer-nav">
      <div class="company-links">
        <div class="company-about">
          <h3>Support</h3>
          <a href="#">Help Centre</a>
          <a href="#">AirCover</a>
          <a href="#">Anti-discrimination</a>
          <a href="#">Disability support</a>
          <a href="#">Cancellation options</a>
          <a href="#">Report neighbourhood concern</a>
        </div>
        <div class="company-communities">
          <h3>Communities</h3>
          <a href="#">AirCover for Hosts</a>
          <a href="#">Wonderlust your home</a>
          <a href="#">Hosting resources</a>
          <a href="#">Community forum</a>
          <a href="#">Hosting responsibly</a>
        </div>
        <div class="company-lcons">
          <h3>Wonderlust</h3>
          <a href="#">Newsroom</a>
          <a href="#">New features</a>
          <a href="#">Careers</a>
          <a href="#">Investors</a>
          <a href="#">emergency stays</a>
        </div>
      </div>
      <div class="social-media-links">
        <div class="insta">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="twitter">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="facebook">
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="footer-policy">
        <a href="#">Legal</a>
        <a href="#">Privacy Center</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookies</a>
        <a href="#">About Ads</a>
        <a href="#">Accessibility</a>
      </div>
      <div class="copy-rights">
          &copy;WonderLust Private Limited
      </div>
    </div>
  </div>
</footer>
