<% layout("layout/boilerplate") %>

<body>
  <div class="container-fluid form-box" id="index">
    <!-- <h1>Welcome to <span> WonderLust</span></h1> -->
    <div class="row">
      <% for(let i of data){ %>
      <div class="card">
        <a href="/listings/<%=i._id%>" class="card-a">
          <img src="<%=i.image.url%>" class="card-img-top" alt="Hotel image" />
          <div class="card-body">
            <h5 class="card-title"><%=i.title%></h5>
            <%if(i.price){%>
            <p class="card-text">
              &#8377;<%=i.price.toLocaleString("en-IN");%>/night
              <i class="gst-tax" id="show-gst"> +18% GST</i>
            </p>
            <%}%>
          </div>
        </a>
      </div>
      <% }%>
    </div>
  </div>
</body>
